.editable-page-title {
    align-items: left;
}

.editable-title-display {
    cursor: pointer;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-title-display:focus {
    outline: none;
    border: none;
    cursor: pointer;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-title-input:focus {
    outline: none;
    border: none;
    cursor: pointer;
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-title-input {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.delete-page-button {
    margin-left: 10px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1em;
    transition: background-color 0.2s ease;
}

.delete-page-button:hover {
    background-color: #a0a0a0;
}
