.toggle-header {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .block-content.editable-list {
    padding-left: 20px; 
    margin: 0;
  }
  
  .block-content.editable-list > li {
    margin-bottom: 5px; 
    
  }

  .block-content.editable-list:focus {
    outline: none; 
    border: none;   
  }

  .block-content {
    min-height: 15px; 
    margin-left: 5px;
  }

  .block-content li {
    margin-left: 20px; /* измените значение по необходимости */
  }
  